{% extends 'base.html' %}
{% block content1 %}

    <h1>Women</h1>
    <div class="row">
        {% for sarees in women %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{sarees.image_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{sarees.name}}</h5>
                    <p class="card-text">Rs {{sarees.price}} only</p>
                    <p class="card-text">{{sarees.stock}} Pieces Available</p>
                    <a href="Addtobag.html" class="btn btn-primary">Add to Bag</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
